.metrics-grid {
  grid-template-columns: 1fr;
  gap: 2rem;
  min-height: 100vh;
}

.metric-card {
  background: white;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  padding: 2rem;
  display: grid;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  flex: 0 0 320px; /* Taille fixe raisonnable pour le résumé */
  width: 100%;
}

.metric-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.metric-header h2 {
  font-size: 1.1rem;
  color: var(--neutral-600);
  font-weight: 500;
}

.status {
  padding: 0.5rem 0.7rem;
  background: #e7f5ff;
  color: #228be6;
  border-radius: 20px;
  font-size: 0.875rem;
  font-weight: 500;
}

.status.warning {
  background: #fff3bf;
  color: #fab005;
}

.metric-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.metric-value {
  font-size: 4rem;
  font-weight: 700;
  color: #1a1a1a;
  line-height: 1;
}

.metric-details {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.detail-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.detail-item .label {
  font-size: 0.875rem;
  color: #868e96;
}

.detail-item .value {
  font-size: 1rem;
  font-weight: 500;
  color: #1a1a1a;
}

.chart-container {
  height: 293px;
  width: 100%;
}

.chart-container-card {
  background: white;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  padding: 2rem;
  gap: 2rem;
  margin-bottom: 2rem;
  flex: 1;
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp-card {
  display: flex;
  gap: 2rem;
}

.hum-card {
  display: flex;
  gap: 2rem;
}

.metric-info {
  display: grid;
  place-items: center;
}
